<select id="user_profile[state]" name="user_profile[state]" class="form-control">
  <option name="act">Australian Capital Territory</option>
  <option name="nsw">New South Wales</option>
  <option name="nt">Northern Territory</option>
  <option name="qld">Queensland</option>
  <option name="sa">South Australia</option>
  <option name="tas">Tasmania</option>
  <option name="vic">Victoria</option>
  <option name="wa">Western Australia</option>
</select>